@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>My favorite movies</h1>
<div class="row">
    <div class="col-8 mb-2">
        <h2>Avengers Infinity War</h2>
        <p>An uprecedented cinematic hourney ten years in the making and spannin gentire Marvel Cinema.</p>
    </div>
    <div class="col-4">
        <img src="./img/avangers1.jpg" alt="Avengers Infinity War image" />
    </div>
</div>
<div class="row">
    <div class="col-8 mb-2">
        <h2>Avengers Endwar</h2>
        <p>Avengers: Endgame is a 2019 American superhero film based on the Marvel Comics superhero team the Avengers.</p>
    </div>
    <div class="col-4">
        <img src="./img/avangers2.jpg" alt="Avengers Infinity War image" />
    </div>
</div>